.custom-navbar {
  background-color: #fcc141;
  padding: 10px !important;
}
.cart-icon {
  cursor: pointer;
  font-weight: 500;
  font-family: 'Chivo', sans-serif;
  align-items: center;
  color: #5a050b
}