.modal-header {
  background-color: #5a050b
}

.modal-content {
  border: 0 !important
}

.modal-header-title {
  color: white !important;
  font-family: 'Chivo', sans-serif;
  font-size: 0.8rem;
  margin: 0;
}

.container-product-name-cart {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.product-name {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  font-size: 1.2rem;
  padding: 6px;
}

.product-quantity {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0 10px;
}

.price-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.subtotal {
  padding-top: 30px
}

.price,
.subtotal-price  {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  font-size: 0.8rem;
}

.total-price {
  font-family: 'Chivo', sans-serif;
  font-size: 1.3rem;
}

.price {
  padding: 20px 0 10px 0;
}

.quantity-content {
 display: flex;
 align-items: center;
}

.icon-padding {
  padding: 0 5px;
}

.button-text {
  font-family: 'Chivo', sans-serif;
  color: black !important; 
}

.product-quantity-container {
  display: flex;
  justify-content: space-between;
}